{% extends "news/base.html" %}
{% load static %}
{% load i18n %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}
<!-- LOGIN SECTION -->
<section class="logs-pages">
    <div class="login">
        <div class="text-center container p-5">
            <h1 class="text-center"><strong>Welcome to Heads and Tails!</strong></h1>
            <p class="masthead1 text-center p-3 bg"><strong>Explore the latest news tailored to your interests, sorted by category and country. 
                Stay informed and engaged with the world. Log in or register now to personalize your experience.</strong> 
            </p>
            <h3 class="text-center masthead1"><strong>Get started today!</strong></h3>
        </div>
        <div class="container box-shadow text-overlay border border-dark border-2">
            <div class="row align-items-center">
                <div class="col-md-6 mt-5 offset-md-2">
                    <h3>{% trans "Sign In" %}</h3>
                    <p>{% blocktrans %}If you already have an account, or <a class="link" href="{% url 'account_signup' %}">sign up</a> if you're a new user.{% endblocktrans %}</p>
                </div>
            </div>
            <div class="row align-items-center">
                <div class="col-md-8 mt-3 offset-md-2 pb-5">
                    {% include "account/login_form.html" %}
                </div>
            </div>
        </div>
    </div>
</section>
<!-- END OF LOGIN SECTION -->
{% endblock %}